/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    border-radius: 8px;
    color: #fff;
    background: #ff900e;
    border: none;
    outline: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* header related styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1em;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


/* banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    padding-bottom: 50px;
}

.banner-description {
    color: #727272;
    line-height: 1.5;
    margin-bottom: 20px;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* responsive styles */

/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .nav-title {
        margin-bottom: 20px;
    }

    nav ul {
        margin-bottom: 20px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
    nav {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }

    .nav-title {
        margin-bottom: 20px;
    }

    nav ul {
        margin-bottom: 20px;
    }
}

/* main section styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams related styles */
.teams-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.teams-content {
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
    padding-bottom: 30px;
}

.teams-title .quick-list-text {
    color: #727272;
    font-weight: 500;
}

.teams-title .features-text {
    color: #ff900e;
    font-weight: 700;
}

.teams-description {
    line-height: 1.5;
    color: #727272;
    padding-bottom: 30px;
}